@import '../../assets/scss/button';

#top10stories {
  text-align: center;
  min-width: 70% ;
  .card {
    display: inline-flex;
    min-height: 350px;
    margin: 5px;
  }
  .card-text {
    span {
      display: block;
    }
  }
  .myButton {
    @extend .button-blue;
  }
  @media only screen and (min-width: 768px) {
    .myButton, .myButton:hover, .myButton:active {
      position: absolute;
      bottom: 10px;
      width: 60%;
      left: 20%;
    }
  }
  @media only screen and (max-width: 767px) {
    .card {
      width: 100% !important;
      min-height: auto;
    }
  }
}

